<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Foorumi</title>
        <meta charset="utf-8" />
        <style>
            table{
                width: 100%;    
            }
            th, td {
                padding: 5px;
                text-align: left;
            }

        </style>

    </head>

    <body>

        <a href="./" th:text="Etusivu"></a>
        
        <table>
            <tr>
                <th th:text="'Alue: ' + ${alue.nimi}">Alue</th>
                <th>Viestejä</th>		
                <th>Viimeisin viesti</th>
            </tr>
            <tr th:each="ketju: ${ketjut}">

                <td><a th:href="@{'~/ketju?id=' + ${ketju.id}}" th:text='${ketju.otsikko}'>nimi</a></td>
                <td th:text="${ketju.viestien_lkm}">viestien maara</td>
                <td th:text="${ketju.pvm}">Viimeisin paiva</td>
            </tr>

        </table>
        
        <br/>
        
        Sivut:
        <span th:each="sivunro: ${sivut}"><a th:href="@{'~/alue?id=' + ${alue.id} + '&amp;sivu=' + ${sivunro}}" th:text='${sivunro}'></a> </span>

        <br/>
        <br/>

        <form method="POST" th:action="'/alue?alueId=' + ${alue.id}">
            Uuden ketjun otsikko:<br/>
            <input type="text" name="otsikko"/><br/>
            <input type="submit" value="Lisää ketju"/>
            
        </form>

    </body>
</html>