<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Kalakauppiaat</title>
    <meta charset="UTF-8" />
  </head>
  <body>
    <h1>Kalakauppiaat foorumi</h1>
    <h2 th:text="|Palsta: ${palsta.kuvaus}|">palsta</h2>
    <a href="./">Kuha palaa takas...</a><br />
    <br />
    <table>
      <tr th:each="ketju : ${ketjut}">
        <td><a th:href="@{~/ketju(id=${ketju.id},sivu=1)}" th:text="${ketju.otsikko}">ketju</a><span th:text="| (${ketju.koko} viestiä), viimeisin: ${ketju.viimeisin}|"></span></td>
      </tr>
    </table>
    <br />
    <span>Kuha selailee: </span><span th:each="sivu : ${sivut}"><a th:href="@{~/palsta(id=${palsta.id},sivu=${sivu})}" th:text="${sivu}">sivu</a> </span><br />
    <br />
    <form method="POST" th:action="|/palsta?id=${palsta.id}&amp;sivu=1|">
      <span>Luo uusi ketju:</span><br />
      <br />
      <input type="text" name="nimimerkki" value="Nimimerkki" /><br />
      <br />
      <input type="text" name="otsikko" value="Otsikko" /><br />
      <textarea name="sisalto">Sisältö</textarea><br/>
      <br />
      <input type="submit" value="Lähetä" />
    </form>
  </body>
</html>