<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Kalakauppiaat</title>
    <meta charset="utf-8" />
  </head>
  <body>
    <h1>Kalakauppiaat foorumi</h1>
    <h2>Aiheella ei väliä, kuha näpyttää!</h2>
    <table>
      <tr th:each="palsta,status : ${palstat}">
        <td><a th:href="@{'~/palsta?id=' + ${palsta.id} + '&amp;sivu=1'}" th:text="|${status.count}. ${palsta.kuvaus} (${palsta.lkm} viestiä), viimeisin: ${palsta.aika}|">kuvaus</a></td>
      </tr>
    </table>
    <br/>
    <form method="POST" action="/">
      Uuden palstan nimi:<br/>
      <input type="text" name="kuvaus"/><br/>
      <input type="submit" value="Lisää palsta"/>
    </form>
  </body>
</html>
