<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Kalakauppiaat</title>
    <meta charset="UTF-8" />
  </head>
  <body>
    <h1>Kalakauppiaat foorumi</h1>
    <h2>Aiheella ei väliä, kuha näpyttää!</h2>
    <table>
      <tr th:each="palsta : ${palstat}">
        <td><a th:href="@{~/palsta(id=${palsta.id},sivu=1)}" th:text="${palsta.kuvaus}">palsta</a><span th:text="| (${palsta.koko} viestiä) - ${palsta.viimeisin}|"></span></td>
      </tr>
    </table>
    <br />
    <form method="POST" action="/">
      <span>Luo uusi palsta:</span><br />
      <br />
      <textarea name="kuvaus">Kuvaus</textarea><br/>
      <br />
      <input type="submit" value="Lähetä" />
    </form>
  </body>
</html>