<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Kalakauppiaat</title>
    <meta charset="UTF-8" />
    <style>
      tr:nth-child(even) {
        background-color: #f2f2f2;
      }
    </style>
  </head>
  <body>
    <h1>Kalakauppiaat foorumi</h1>
    <h2 th:text="|Palsta: ${palsta.kuvaus} -> ${ketju.otsikko}|">palsta/ketju</h2>
    <a th:href="|/palsta?id=${palsta.id}&amp;sivu=1|">Kuha palaa takas...</a><br />
    <br />
    <table>
      <tr th:each="viesti : ${viestit}">
        <td><span th:inline="text">[[|${viesti.nimimerkki} (${viesti.aika}):|]]<br />[[${viesti.sisalto}]]</span></td>
      </tr>
    </table>
    <br />
    <span>Kuha selailee: </span><span th:each="sivu : ${sivut}"><a th:href="@{~/ketju(id=${ketju.id},sivu=${sivu})}" th:text="${sivu}">sivu</a> </span><br />
    <br />
    <form method="POST" th:action="|/ketju?id=${ketju.id}&amp;sivu=1|">
      <span>Luo uusi viesti:</span><br />
      <br />
      <input type="text" name="nimimerkki" value="Nimimerkki" /><br />
      <br />
      <textarea name="sisalto">Sisältö</textarea><br/>
      <br />
      <input type="submit" value="Lähetä" />
    </form>
  </body>
</html>
